body{
    background-color: lightgray;
    margin:auto;
    width: 90%;
}

.carousel-inner img {
    width: 100%;
    height: 90%;
}

#img{
    transition: all 800ms ease-in-out;
    border: 2px solid black;
    border-radius: 35px;
}
#img:hover{
    transform: scale(1.3);
}

#img1{
    transition: all 800ms ease-in-out;
    border: 2px solid black;
    border-radius: 35px;
    width: 150px;
    height: 100px;
}

#img1:hover{
    transform: scale(2.2);
}

h1{
    position: relative;    
    top: -75px;
    color: rgb(28, 36, 53);
    padding: 15px 25px;
    background-color: white;
    width:500px;
    border-radius: 0 35px 35px 0;
    margin-bottom: -75px;
}

p{
    text-indent: 25px;
    text-align: justify;
}

.kiwi{
    display: grid;
    place-self: center;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

@keyframes ficank {
    0% {
        transform: translate(0%, 0%);
    }   
    50% {
        transform: translate(0%, 50%) scale(.9);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

main .btt {
    color: #fff;
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 10;
    display: grid;
    place-items: center;
}

main .btt:hover{
    animation: ficank infinite ease-in-out 2s;
    animation-delay: 3s;
}